/* Generales */
.h1-strong{
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
}

.sidebar-32{
    width: 32% !important;
    padding: 0px !important;
}

.active{
    border-bottom: 3px solid rgb(0, 17, 255);
    background:  #2b740c;
}

.pointer{
    cursor: pointer;
}