
.Header {
  background: var(--bg-color);
  width: 100%;
  color: #fff;
  height: 70px;
  display: flex;
  align-items: center;
}

.Header-Logo {
  width: 100px;
  height: 50px;
  margin: 10px;
}

.Menu {
  flex: 1;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
}

.Menu-item {
  font-family: var(--font-serif);
  font-size: 1.5rem;
  margin: 5px;
}

.Menu-item a {
  color: var(--color-blanco);
}

.Menu-item a:hover {
  color: var(--color-primario);
}

