nav{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 1000;
}

ul {
    list-style: none;
    display: contents;
    margin-bottom: 5px;
}

li {
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 20px;
    text-align: center;

}


.link-menu{
    color: rgba(255, 253, 253, 0.664);
    border-bottom: 1px solid rgba(255,255,255,.05);
    position: relative;
}

.link-menu:hover{
    color: white;
    text-decoration: none;
}

.active{
    color: white;
}

/* El tooltip */
.link-menu span {
    background: rgba(20,20,20,0.9);
    border-radius: 5px;
    color: #fff;
    display: none;
    font-size: 18px;
    padding: 10px;
    text-align: center;
    position: absolute;
    top: 20%;
    left: 105%;
    z-index: 100;
}

/* El tooltip cuando se muestra */
.link-menu:hover span {
    display: inline;
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  .link-menu span {
      font-size: 10px;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 768px) {
  li{
      font-size: 15px;
      height: 56px;
  }

  .link-menu span {
      font-size: 10px;
  }
}

@media (max-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {

}
