<div class="menu-container">

  <ul>

    <a class="link-menu cssToolTip" [routerLink]="['/Acerca-de-Mi']" routerLinkActive="active">
      <li>
        <i class="fas fa-user"></i>
      </li>
      <strong>
        <span>Acerca de mí</span>
      </strong>
    </a>

    <a class="link-menu cssToolTip" [routerLink]="['/Resumen']" routerLinkActive="active">
      <li>
        <i class="fas fa-graduation-cap"></i>
      </li>
      <strong>
        <span>Resumen</span>
      </strong>
    </a>

    <a class="link-menu cssToolTip" [routerLink]="['/Portafolio']" routerLinkActive="active">

      <li>
        <i class="fas fa-briefcase"></i>
      </li>
      <strong>
        <span>Portafolio</span>
      </strong>
    </a>

    <a class="link-menu cssToolTip" [routerLink]="['/Contacto']" routerLinkActive="active">
      <li>
        <i class="fas fa-paper-plane"></i>
      </li>
      <strong>
        <span>Contacto</span>
      </strong>
    </a>

    <a class="link-menu cssToolTip" href="https://api.whatsapp.com/send?phone=5215611291607"
      target="_blank">
      <li>
        <i class="fab fa-whatsapp"></i>
      </li>
      <strong>
        <span>Whatsapp</span>
      </strong>
    </a>
  </ul>


</div>
