/* You can add global styles to this file, and also import other style files */

:root {
  --bg-color: #000;
  --font-serif: 'Roboto Slab', serif;

  --color-primario: orange;
  --color-blanco: #fff;
  --color-negro: #000;
}

* {
  margin: 0px;
  padding: 0px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-negro);
}

a:hover {
  color: var(--color-primario);
}

.contenido {
  width: 80%;
  margin: 20px auto;
  font-size: calc(1rem + 3vw);
  text-align: center;
}
