.item-user .image-user{
    width: 75px;
    height: 75px;
    border-radius: 100px;
    overflow: hidden;
    margin-right: 15px;
}

.item-user .image-user img{
    width: 80px;
    height: 80px;
    margin: auto;
}

.item-user .user-name{
    margin-top: 10px;
}

.item-user .user-name .name-surname a{
    color: #444;
    font-weight: bold;
}

.item-user .user-name .nickname{
    color: #969393;
}

.people{
    min-height: 500px;
}

@media (max-width: 575.98px) {
    .people{
        overflow: auto !important;
        min-height: auto;
    }
}