<div class="row">

  <div class="seccion-imagen col-md-6 animated slideInDown">
    <div class="cajaImagen">
      <img src="../../../assets/img/resumen.jpg">
    </div>
  </div>

  <div class="seccion-cont col-md-6 animated slideInUp">

    <div class="experiencia" class="col-12">
      <h2 class="experiencia-titulo">EXPERIENCIA</h2>
      <ul class="experiencia-lista">
        <li class="experiencia-item">
          <p class="experiencia-item-titulo">Aprendizaje Autodidacta</p>
          <p class="experiencia-item-fecha"> <i class="far fa-calendar-alt"></i> presente</p>
          <p class="experiencia-item-desc">
            Actualmente me encuentro estudiando frameworks web como spring, flask y django
          </p>
        </li>
        <li class="experiencia-item">
          <p class="experiencia-item-titulo">Proyectos Escolares - Uam</p>
          <p class="experiencia-item-fecha"> <i class="far fa-calendar-alt"></i> 2014 - presente</p>
          <p class="experiencia-item-desc">
            Ingenieria de Software en programas de escritorio como Java y Python, utilizando metodologia scrum y
            persistencia en Bases de datos SQL
          </p>
        </li>
        <li class="experiencia-item">
          <p class="experiencia-item-titulo">Desarrollo Web con Spring Framework 5 & Spring Boot+Restful - Udemy</p>
          <p class="experiencia-item-fecha"> <i class="far fa-calendar-alt"></i> 2019</p>
          <p class="experiencia-item-desc"> Actualmente practicando el curso de programacion en plataforma digital, <a href="https://www.udemy.com/spring-framework-desarrollo-web-spring-mvc/" alt="Curso de Spring" target="_blank">ver descripion del curso</a></p>
        </li>
        <li class="experiencia-item">
          <p class="experiencia-item-titulo">Desarrollar una red social con JavaScript, Angular y NodeJS - Udemy</p>
          <p class="experiencia-item-fecha"> <i class="far fa-calendar-alt"></i> 2018</p>
          <p class="experiencia-item-desc"> Finalizacion de curso de programacion en plataforma digital, <a href="https://www.udemy.com/desarrollar-una-red-social-con-javascript-angular-y-nodejs-mongodb/" alt="Curso de Red Social Angular" target="_blank">ver descripion del curso</a></p>
        </li>
        <li class="experiencia-item">
          <p class="experiencia-item-titulo">Especialidad Frontend - EDteam</p>
          <p class="experiencia-item-fecha"> <i class="far fa-calendar-alt"></i> 2018</p>
          <p class="experiencia-item-desc"> Finalizacion de especialidad de programacion en plataforma digital, <a href="https://ed.team/especialidades/frontend" alt="Curso de Frontend" target="_blank">ver descripion del curso</a></p>
        </li>
        <li class="experiencia-item">
          <p class="experiencia-item-titulo">Angular: De cero a experto creando aplicaciones (Angular 8+) - Udemy</p>
          <p class="experiencia-item-fecha"> <i class="far fa-calendar-alt"></i> 2017</p>
          <p class="experiencia-item-desc"> Finalizacion de curso de programacion en plataforma digital, <a href="https://www.udemy.com/angular-2-fernando-herrera/" alt="Curso de Angular" target="_blank">ver descripion del curso</a></p>
        </li>
        <li class="experiencia-item">
          <p class="experiencia-item-titulo">Node: De cero a experto - Udemy</p>
          <p class="experiencia-item-fecha"> <i class="far fa-calendar-alt"></i> 2017</p>
          <p class="experiencia-item-desc"> Finalizacion de curso de programacion en plataforma digital, <a href="https://www.udemy.com/course/node-de-cero-a-experto/" alt="Curso de Node" target="_blank">ver descripion del curso</a></p>
        </li>
      </ul>
    </div>

    <div class="educacion" class="col-12">
      <h2 class="educacion-titulo">EDUCACION</h2>
      <ul class="educacion-lista">

      </ul>
      <li class="educacion-item">
        <p class="educacion-item-titulo">Universidad Autonoma Metropolitana Iztapalapa (UAMI)</p>
        <p class="educacion-item-desc">
          <i class="far fa-calendar-alt"></i>
          2014-2019
          <br>
          <i class="fas fa-certificate"></i>
          Licenciatura en Computación
          <br>
          <i class="fas fa-code"></i>
          Java, Python y Ruby
        </p>
      </li>
      <li class="educacion-item">
        <p class="educacion-item-titulo">Centro de Estudios Tecnológicos Industriales y de Servicios(CETIS #50)</p>
        <p class="educacio-item-desc">
          <i class="far fa-calendar-alt"></i>
          2011-2014
          <br>
          <i class="fas fa-certificate"></i>
          Técnico en Programación
          <br>
          <i class="fas fa-code"></i>
          C, C++
        </p>
      </li>
    </div>

    <div class="apariciones col-12">
      <h2 class="apariciones-titulo">APARICIONES</h2>

      <p class="apariciones-desc">
        En algun momento de mi vida he pertenecido a instituciones alas que aprecio mucho y de las cuales he aprendido
        bastante
      </p>

      <img src="../../../assets/img/apariciones/uam.png" alt="Universidad Autonoma Metropolitana">

    </div>

    <app-footer></app-footer>

  </div>
</div>
