.portafolio {
  width: 100%;
  padding: 10px;
}

.portafolio-titulo {
  font-size: calc(1em + 5vw);
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}

.portafolio-menu{
    display: flex;
    flex-wrap: wrap;
}

.portafolio-menu button{
    margin-left: 5px;
}
