<div class="row">

  <div class="seccion-imagen col-md-6 animated slideInDown">
    <div class="cajaImagen">
      <img src="../../../assets/img/acerca-de-mi.jpg">
    </div>
  </div>

  <div class="seccion-cont col-md-6 animated slideInUp">

    <div class="AcercaDeMi">

      <h2 class="AcercaDeMi-titulo">ACERCA DE MI</h2>

      <!-- <p class="AcercaDeMi-descripcion">
        Actualmente
      </p> -->

      <div class="AcercaDeMi-datos">
        <div class="AcercaDeMi-datos-campo">
          <p class="AcercaDeMi-datos-pregunta">
            <i class="fas fa-globe-americas"></i>
            Residencia
          </p>
          <p class="AcercaDeMi-datos-respuesta">
            México, CDMX
          </p>
        </div>
        <div class="AcercaDeMi-datos-campo">
          <p class="AcercaDeMi-datos-pregunta">
            <i class="fas fa-birthday-cake"></i>
            Fecha de Nacimiento
          </p>
          <p class="AcercaDeMi-datos-respuesta">
            13 de Agosto de 1996
          </p>
        </div>
        <div class="AcercaDeMi-datos-campo">
          <p class="AcercaDeMi-datos-pregunta">
            <i class="fas fa-language"></i>
            Idiomas
          </p>
          <p class="AcercaDeMi-datos-respuesta">
            Español, Ingles(30%)
          </p>
        </div>
        <div class="AcercaDeMi-datos-campo">
          <p class="AcercaDeMi-datos-pregunta">
            <i class="fas fa-futbol"></i>
            Hobbies
          </p>
          <p class="AcercaDeMi-datos-respuesta">
            Futbol, Musica, Programacion
          </p>
        </div>
      </div>

      <p class="AcercaDeMi-descripcion">Senserit sed commodo. Ubi nescius a iudicem, non veniam si amet a tempor ad
        fabulas id ipsum excepteur relinqueret
        non fore commodo quibusdam, incidi imitaren do mentitum.</p>

      <p class="AcercaDeMi-descripcion">Et enim offendit ingeniis. Dolor probant senserit si mandaremus do nulla
        laborum, hic aute iudicem expetendis id cupidatat
        tamen iudicem proident ut eram arbitror aut veniam enim, nostrud.</p>

      <div class="AcercaDeMi-buttons">
        <a class="AcercaDeMi-buttons-contacto btn btn-contacto btn-lg" routerLink="/Contacto">
          Contactame
        </a>
        <a class="AcercaDeMi-buttons-cv btn btn-descarga btn-lg" href="assets/cv-angel-rebollo-lopez.pdf"
          download>
          Descargar Curriculum
        </a>
      </div>

      <h2 class="AcercaDeMi-titulo">HABILIDADES</h2>

      <div class="AcercaDeMi-habilidades col-12">
        <div *ngFor="let habilidad of habilidades">
          <app-habilidad [habilidad]="habilidad"></app-habilidad>
        </div>
      </div>

    </div>

    <app-footer></app-footer>

  </div>
</div>
