.habilidad{
    text-align: center;
}

.habilidad-iconos{
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.habilidad-iconos i {
  margin-right: 10px;
  font-size: calc(1em + 15vw);
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.habilidad-titulo {
  text-align: center;
  font-weight: bold;
  font-size: calc( 1em + 1vw);
}

.habilidad-descripcion {
  line-height: 1;
  font-family: var(--serifa);
  font-size: calc( 1em + .8vw);
  text-align: center;
}

/* Colores habilidad */

.angular-color {
  color: red;
}

.sass-color {
  color: pink;
}

.html5-color {
  color: orange;
}

.java-color {
  color: red;
}

.nodeJs-color {
  color: rgb(13, 146, 95);
}

.python-color {
  color: yellow;
}

.database-color {
  color: rgb(196, 196, 174);
}

.tv-color {
  color: blue;
}
